In [1]:
import pandas as pd

dates = pd.read_excel('earning dates.xlsx')
#dates.set_index('Ticker', inplace=True)
tickers = pd.read_csv('tickers2018_2023.csv')

In [2]:
dates

                                Name    Ticker                Date Event Type
0               Commercial Metals Co    CMC US 2018-01-03 06:45:00         ER
1              RPM International Inc    RPM US 2018-01-04 06:45:00         ER
2       Walgreens Boots Alliance Inc    WBA US 2018-01-04 07:00:00         ER
3           Lamb Weston Holdings Inc     LW US 2018-01-04 08:30:00         ER
4                  Aehr Test Systems   AEHR US 2018-01-04 16:06:00         ER
...                              ...       ...                 ...        ...
20126  Universal Health Services Inc    UHS US 2024-04-25 07:00:00         ER
20127                   Alphabet Inc  GOOGL US 2024-04-25 07:00:00         ER
20128          Hawaiian Holdings Inc     HA US 2024-04-25 07:00:00         ER
20129             Enphase Energy Inc   ENPH US 2024-04-25 07:00:00         ER
20130                     Fiserv Inc     FI US 2024-04-25 07:00:00         ER

[20131 rows x 4 columns]

In [3]:
tickers

     ticker
0      TROW
1       ADX
2       HON
3      RMCF
4      AMRC
...     ...
7155    VPG
7156     FN
7157   SANW
7158   TSLA
7159   CBOE

[7160 rows x 1 columns]

In [4]:
dates['Short_ticker'] = dates['Ticker'].apply(lambda x: x.split()[0] if x.split()[0] != 'US' else x.split()[1] if len(x.split()) > 1 else '')
dates

,Name,Ticker,Date,Event Type,Short_ticker
0,Commercial Metals Co,CMC US,2018-01-03 06:45:00,ER,CMC
1,RPM International Inc,RPM US,2018-01-04 06:45:00,ER,RPM
2,Walgreens Boots Alliance Inc,WBA US,2018-01-04 07:00:00,ER,WBA
3,Lamb Weston Holdings Inc,LW US,2018-01-04 08:30:00,ER,LW
4,Aehr Test Systems,AEHR US,2018-01-04 16:06:00,ER,AEHR
...,...,...,...,...,...
20126,Universal Health Services Inc,UHS US,2024-04-25 07:00:00,ER,UHS
20127,Alphabet Inc,GOOGL US,2024-04-25 07:00:00,ER,GOOGL
20128,Hawaiian Holdings Inc,HA US,2024-04-25 07:00:00,ER,HA
20129,Enphase Energy Inc,ENPH US,2024-04-25 07:00:00,ER,ENPH
20130,Fiserv Inc,FI US,2024-04-25 07:00:00,ER,FI

In [5]:
earnings_dates_for_tickers = dates[dates['Short_ticker'].isin(tickers['ticker'])]

earnings_dates_for_tickers = earnings_dates_for_tickers.sort_values(by=['Ticker', 'Date'])

earnings_dates_for_tickers

,Name,Ticker,Date,Event Type,Short_ticker
396,Agilent Technologies Inc,A US,2018-02-14 16:05:00,ER,A
1298,Agilent Technologies Inc,A US,2018-05-14 16:05:00,ER,A
2023,Agilent Technologies Inc,A US,2018-08-14 16:05:00,ER,A
2754,Agilent Technologies Inc,A US,2018-11-19 16:05:00,ER,A
3297,Agilent Technologies Inc,A US,2019-02-20 16:05:00,ER,A
...,...,...,...,...,...
15969,Zoetis Inc,ZTS US,2023-02-14 07:00:00,ER,ZTS
16912,Zoetis Inc,ZTS US,2023-05-04 07:00:00,ER,ZTS
17936,Zoetis Inc,ZTS US,2023-08-08 07:00:00,ER,ZTS
18652,Zoetis Inc,ZTS US,2023-11-02 07:00:00,ER,ZTS
19471,Zoetis Inc,ZTS US,2024-02-13 07:00:00,ER,ZTS

In [6]:
columns_ordered = ['Short_ticker'] + [col for col in earnings_dates_for_tickers.columns if col != 'Short_ticker']
earnings_dates_for_tickers = earnings_dates_for_tickers[columns_ordered]
earnings_dates_for_tickers

,Short_ticker,Name,Ticker,Date,Event Type
396,A,Agilent Technologies Inc,A US,2018-02-14 16:05:00,ER
1298,A,Agilent Technologies Inc,A US,2018-05-14 16:05:00,ER
2023,A,Agilent Technologies Inc,A US,2018-08-14 16:05:00,ER
2754,A,Agilent Technologies Inc,A US,2018-11-19 16:05:00,ER
3297,A,Agilent Technologies Inc,A US,2019-02-20 16:05:00,ER
...,...,...,...,...,...
15969,ZTS,Zoetis Inc,ZTS US,2023-02-14 07:00:00,ER
16912,ZTS,Zoetis Inc,ZTS US,2023-05-04 07:00:00,ER
17936,ZTS,Zoetis Inc,ZTS US,2023-08-08 07:00:00,ER
18652,ZTS,Zoetis Inc,ZTS US,2023-11-02 07:00:00,ER
19471,ZTS,Zoetis Inc,ZTS US,2024-02-13 07:00:00,ER

In [7]:
earnings_dates_for_tickers['Short_ticker'].unique().size

848

In [9]:


count_before_2024 = earnings_dates_for_tickers[earnings_dates_for_tickers['Date'] < pd.Timestamp(year=2024, month=1, day=1)].shape[0]

print(f"There are {count_before_2024} rows with dates before 2024.")

There are 18468 rows with dates before 2024.