In [11]:
import pandas as pd

dates = pd.read_excel('earning dates.xlsx')
#dates.set_index('Ticker', inplace=True)
tickers = pd.read_csv('Equity_tickers_optionm.csv')

In [12]:
dates.head()

                           Name   Ticker                Date Event Type
0          Commercial Metals Co   CMC US 2018-01-03 06:45:00         ER
1         RPM International Inc   RPM US 2018-01-04 06:45:00         ER
2  Walgreens Boots Alliance Inc   WBA US 2018-01-04 07:00:00         ER
3      Lamb Weston Holdings Inc    LW US 2018-01-04 08:30:00         ER
4             Aehr Test Systems  AEHR US 2018-01-04 16:06:00         ER

In [9]:
tickers.rename(columns={ tickers.columns[1]: 'Ticker' }, inplace=True)
tickers

       Unnamed: 0 Ticker
0               0   ZZZZ
1               1   AFAP
2               2  AWCSE
3               3  MRCBF
4               4  AACZE
...           ...    ...
14485       14485   UMAC
14486       14486   CLCO
14487       14487     NB
14488       14488     YS
14489       14489   CKHL

[14490 rows x 2 columns]

In [22]:

# Obtenemos una lista de los tickers únicos del DataFrame `tickers`
tickers_list = tickers.iloc[:, 1].dropna().unique()

earnings_dates_for_tickers = dates[dates['Ticker'].isin(tickers_list)]

earnings_dates_for_tickers = earnings_dates_for_tickers.sort_values(by=['Ticker', 'Date'])

print(earnings_dates_for_tickers)

Empty DataFrame
Columns: [Name, Ticker, Date, Event Type]
Index: []